h1 
{
    color: navy;
    text-align: center;
    
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: burlywood;
  }

body 
{
    background-color:#949396 ;
}
div
{
    background-color: #C799A6;
    padding: 5px;
}

