h1 
{
    color: #008ECB;
    text-align: center;
    
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #008ECB;
    background-image: url("download.png");
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #008ECB;
  }

ul a {
  color:#008ECB;
}

body 
{
    background-color:#2B272B ;
}

div
{
    background-color: #2d2b3c;
    padding: 5px;
    color: #008ECB;
}
#navbar {font-size: 20px;}

#navbar {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  display: flex; 
}

#navbar li {
  margin: 0 10px; 
  display: inline;
}


#navbar li a {
  display: inline-block;
  padding: 10px 20px; 
  background-color: #301934; 
  color: #fff; 
  text-decoration: none;
  border-radius: 5px; 
}

#navbar li a.active {
  background-color: #800080; }
 #navbar li a:hover:not(.active) {
    background-color: #610000;
    color: white;
}

#aside {font-size: 20px;}

#aside {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  display: flex; 
}


#aside li {
  margin: 20px 10px; 
  display: inline;
}


#aside li a {
  display: inline-block;
  padding: 10px 20px; 
  background-color: #301934; 
  color: #fff; 
  text-decoration: none;
  border-radius: 5px; 
}
#aside li a.active {
  background-color: #800080; 
}

 #aside li a:hover:not(.active) {
    background-color: #610000;
    color: white;
}
details {
  user-select: none;
}

details>summary span.icon {
  width: 24px;
  height: 40px;
  transition: all 0.3s;
  margin-left: auto;
}

details[open] summary span.icon {
  transform: rotate(180deg);
}

summary {
  display: flex;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

.box {
  border: 2px solid #333; /* Add a border */
  padding: 15px; /* Add some padding for space inside the box */
  margin: 10px; /* Add margin to space out the boxes */
  background-color: #f5f5f5; /* Background color */
}